#
# /etc/bash.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# Should be sourced for rhel systems
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

GPG_TTY=$(tty)
export GPG_TTY

PS1='\[\033[36;1m\]\$\[\033[39m\] '
PS2='\[\033[36;1m\]>\[\033[39m\] '
PS3='\[\033[36;1m\]>\[\033[39m\] '
PS4='\[\033[36;1m\]+\[\033[39m\] '

case ${TERM} in
  xterm*|rxvt*|Eterm|aterm|kterm|gnome*)
    PROMPT_COMMAND=${PROMPT_COMMAND:+$PROMPT_COMMAND; }'printf "\033]0;%s@%s:%s\007" "${USER}" "${HOSTNAME%%.*}" "${PWD/#$HOME/\~}"'

    ;;
  screen)
    PROMPT_COMMAND=${PROMPT_COMMAND:+$PROMPT_COMMAND; }'printf "\033_%s@%s:%s\033\\" "${USER}" "${HOSTNAME%%.*}" "${PWD/#$HOME/\~}"'
    ;;
esac

function prompt_command {
	# TODO
	# - error handling on no color
	# - output status of previous command
	# - current git branch
	# - color hostnames differently
	# - news output at first command
	printf "\033[01;90m%s@%s\033[00m:%s\n" "${USER}" "${HOSTNAME%%.*}" "${PWD/#$HOME/\~}"
}

export PROMPT_COMMAND=prompt_command

trap 'echo -ne "\e[0m"' DEBUG

[ -r /usr/share/bash-completion/bash_completion   ] && . /usr/share/bash-completion/bash_completion

function cdl () {
    cd $1
    ls
}

# misspell help
shopt -s cdspell

# Eternal bash history.
# ---------------------
# Undocumented feature which sets the size to "unlimited".
# http://stackoverflow.com/questions/9457233/unlimited-bash-history
export HISTFILESIZE=
export HISTSIZE=
export HISTTIMEFORMAT="[%F %T] "
export HISTCONTROL=ignoreboth
# Change the file location because certain bash sessions truncate .bash_history file upon close.
# http://superuser.com/questions/575479/bash-history-truncated-to-500-lines-on-each-login
export HISTFILE=~/.bash_eternal_history
shopt -s histappend
# Force prompt to write history after every command.
# http://superuser.com/questions/20900/bash-history-loss
PROMPT_COMMAND="history -a; $PROMPT_COMMAND"
BIN_DIR="${HOME}/.local/bin"

if [ -f "${BIN_DIR}/complete_alias" ]; then
	. "${BIN_DIR}/complete_alias"
fi

# synced aliases
if [ -f /etc/bash.aliases ]; then
	. /etc/bash.aliases
fi

if [ -f "$HOME/.bash.aliases" ]; then
	. "$HOME/.bash.aliases"
fi

if [ -f "$HOME/.bashrc_local" ]; then
	. "$HOME/.bashrc_local"
fi

if [ -f /usr/lib/z.sh ]; then
	. /usr/lib/z.sh
fi

if [ -f ${HOME}/.local/z/z.sh ]; then
	. ${HOME}/.local/z/z.sh
fi

export GOPATH="${HOME}/Source/go"
export PATH="${PATH}:${BIN_DIR}:${GOPATH}/bin"

export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
export GPG_TTY=`tty`

export EDITOR=vim

{% if additional_bashrc is defined %}
{{ additional_bashrc }}
{% endif %}
